[submodule "WordPress"]
	path = WordPress
	url = https://github.com/WordPress/WordPress.git
[submodule "wpro"]
	path = htdocs/wp-content/plugins/wpro
	url = https://github.com/alfreddatakillen/wpro.git
[submodule "sendgrid-email-delivery-simplified"]
	path = htdocs/wp-content/plugins/sendgrid-email-delivery-simplified
	url = https://github.com/sendgrid/wordpress.git
[submodule "authy-two-factor-authentication"]
	path = htdocs/wp-content/plugins/authy-two-factor-authentication
	url = https://github.com/authy/authy-wordpress.git
[submodule "jetpack"]
	path = htdocs/wp-content/plugins/jetpack
	url = https://github.com/Automattic/jetpack.git
